{{/* boolean feature tags */}}
{{- $havesudo := false -}}
{{- $headless := true -}}

{{/* machine info */}}
{{- $arch := output "uname" "-m" | trim -}}
{{- $os := .chezmoi.os -}}
{{- $owner := "personal" -}}
{{- $shell := env "SHELL" | base -}}

{{- $hostname := .chezmoi.hostname | lower -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim | lower -}}
{{-   $headless := false -}}
{{-   $havesudo := true -}}
{{- end -}}
{{- if hasPrefix $hostname "raven" -}}
{{-   $hostname := "raven" -}}
{{-   $owner := "mpcdf" -}}
{{- else if hasPrefix $hostname "viper" -}}
{{-   $hostname := "viper" -}}
{{-   $owner := "mpcdf" -}}
{{- end -}}

[data]
	arch = {{ $arch | quote }}
	havesudo = {{ $havesudo }}
	headless = {{ $headless }}
	hostname = {{ $hostname | quote }}
	owner = {{ $owner | quote }}
	os = {{ $os | quote }}
	shell = {{ $shell | quote }}

[data.accounts]
	known_hosts = "~/.ssh/known_hosts"

[data.accounts.git]
	name = "sruddle"
	email = "sarahruddle1@gmail.com"

[data.accounts.github]
	username = "sruddle"
	identityfile = "~/.ssh/github.pem"
	token = {{ keyring "github.token" "sruddle" | quote }}	

[data.accounts.mpiib]
	username = "ruddle"
	password = {{ keyring "mpiib" "ruddle" | quote }}

[data.accounts.mpiib.nextcloud]
	rclone_name = "mpiib_nextcloud"
	vendor = "nextcloud"
	username = "ruddle"
	password = {{ keyring "mpiib" "ruddle" | quote }}
	domain = "transfer.mpiib-berlin.mpg.de"
	webdav_url = "https://transfer.mpiib-berlin.mpg.de/remote.php/dav/files/63595F6C-C750-4D11-B19C-4D850BB5C0B1"
	rclone_pass = {{ keyring "mpiib_nextcloud_rclone" "ruddle" | quote }}

[data.accounts.mpcdf]
	username = "ruddles"
	password = {{ keyring "mpcdf" "ruddles" | quote }}

[data.accounts.mpcdf.remotes]
	username = "ruddles"
	password = {{ keyring "mpcdf" "ruddles" | quote }}
	krbconf = "/etc/krb5.conf"
